In [7]:
import pandas as pd
from sqlalchemy import create_engine

### Load the data from .csv

In [12]:
data = pd.read_csv('csv\Mall_Customers.csv')

### Connecting to PostgreSQL

In [13]:
engine = create_engine('postgresql://postgres:xfgftdf2010@localhost:5432/mall_customers')

# CSV to SQL

### Saving data in table "housing_table"

In [14]:
data.to_sql('mall_customer', con=engine, if_exists='replace', index=False)

200

# SQL to CSV

In [15]:
query = 'SELECT * FROM filtered_customers'
data_clean = pd.read_sql(query, con=engine)

In [16]:
data_clean.head()

   CustomerID  Age  Annual Income (k$)  Spending Score (1-100)
0           1   19                  15                      39
1           2   21                  15                      81
2           3   20                  16                       6
3           4   23                  16                      77
4           5   31                  17                      40

In [18]:
data_clean.to_csv('csv/Mall_Customers_Clean.csv')